<html>
<head>
    <script src="/static/webworker.js"></script>
    <style>

    </style>
</head>
<body>
    <center>
        <br><br><br>
        <form method="POST" action="/games">
            <button type="submit">Start New Game</button>
        </form>
        <br><br><br>
        <form method="GET" action="/games">
            <b>Game Key</b>
            <br>
            <input name="game_key" /><br>
            <button type="submit">Join Game</button>
        </form>
    </center>
</body>
</html>